#Header {
    width: 100%;
    height: auto;
    background-color: rgb(101, 101, 248);
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

#top-title {
    padding-top: 1em;
}

.front-link-label {
    padding-top: 2em;
}

#Header_title {
    font-family: 'Lobster';
    font-size: 5em;
    margin: 0.1em;
    transition: all 0.5s ease-out;
}

#Header_title:hover {
    transform: scale(1.3);
    text-shadow: 0 0 3px #FF0000;
}

#Input-area {
    width: 75%;
    height: 10em;
}

.form_p {
    padding-top: 2em;
}

.Welcome-container {
    text-align: center;
    padding-bottom: 2em;
}

.space_container {
    margin-bottom: 3em;
}

#Welcome-outer-container {
    margin: auto;
    background-color: lightgray;
    width: 30%;
    margin-top: 3em;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
  }
  
  
.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#result-container {
    display: none;
}

#out {
    word-break: break-all;
}

#name_container {
    position:absolute;
    bottom:0;
    right:0;
    margin: 1em;
    background-color: lightgrey;
    padding: 0.3em 1em;
    font-family: Garamond;
    font-size: 1em;
}

#pass {
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}